
.diff-bg{
    background-color: navy !important;

}

.date-color{
    color: navy !important;

}

.black{
    color: black !important;
}

.font-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}